{% extends "layout.html" %}
{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'courses/css/style.css' %}">
{% endblock %}


{% block title %}Courses{% endblock title %}



{% block content %}
<div class="container mt-3">
    <div class="row">
        <div class="col-3">         
            {% include 'coursespages/partials/_categories.html' %}   
        </div>
        <div class="col-9">
            
            {% if page_object.object_list|length == 0 %}
            <div class="alert alert-primary">Course is not found</div>
            {% endif %}

            {% for course in page_object.object_list %}
            {% include 'coursespages/partials/_course.html'%}
            {% endfor %}
            
         {% include "coursespages/partials/_paginations.html" %}
            
        </div>
    </div>
</div>
{% endblock content %}
    

        {% block js_files %}
            <script src"{% static "courses/js/script.js" %} "></script>
        {% endblock %}